<!DOCTYPE html>
<html>
<title>Card Game Simulator Lobby</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/assets/css/lobby.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../js/lobby.js"></script>
<body>
  <div class="center-div">
    <div class="form-box">
      <h1>Join a Game</h1>
      <form action="/" method="GET">
        <label for="nickname">Nickname:</label>
        <input
          type="text"
          name="nickname"
          placeholder="Enter a nickname"
        />
        <label for="roomId">Room Code:</label>
        <input
          type="text"
          name="roomId"
          placeholder="Enter room code"
        />
        <input type="submit" value="JOIN">
      </form>
      <hr>
      <h1>Host a Game</h1>
      <form action="/host-a-game" method="GET">
        <label for="nickname">Nickname:</label>
        <input
          type="text"
          name="nickname"
          placeholder="Enter a nickname"
        />
        <input type="submit" value="CREATE">
      </form>
    </div>
  </div>
</body>
</html>