body,h1 {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%
}

body {
background-image: url('/assets/lobbyBackground.jpg');
min-height: 100%;
background-position: center;
background-size: cover;
position: relative;
overflow: hidden;
}

input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
background-color: #83781B;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.form-box {
display: block;
  margin-left: auto;
  margin-right: auto;
border-radius: 10px;
background-color: #C4BBAF ;
padding: 20px;
}

.center-div {
	display:block;
	margin-left: auto;
  margin-right: auto; 
margin: 1em auto;
min-width: 20em;
position: absolute;

top: 30%;

left: 50%;

width: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
opacity: 1.0;
}

h2 {
text-align: center;
}

hr {
margin:auto;
width:40%;
}

.row {
display: flex;
}

table, th, td {
	text-align: center;
	border:none;
	min-width: 100px;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 100px;
	width:80%;
	max-width: 800px;
	min-width: 400px;
	border-radius: 50px;
}